// Place all the styles related to the Produtos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#desc-h{
  background-color: red;
}

.desc {
  color: blue}

#foto-h {background-color: red
}

#preco-h{
  background-color: red;
}.desc {
   color: blue}

#nome-h{
  background-color: red;
}

#tipo-h{
  background-color: red;
}

.foto {
  color: blue}

.preco {
  color: blue}

.nome {
  color: blue}

.tipo {
  color: blue}